{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>{% block title %} AnimationStudio Add {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <div class="trainers-container">
      <div class="form-container">
        <form role="form" method="post" novalidate>
            {% csrf_token %}
                {% include 'includes/form.html' %}
            <div class="form-group">
                <div class="">
                    <button type='submit' class="button-add">Submit</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
